<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Testing</title>

    <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap-vue/bootstrap-vue.css"/>
</head>
<body>

<div id="app">
    <header>
        <div class="container">
            <b-navbar type="light" variant="light">
                <b-nav-form>
                    <b-form-input class="mr-sm-2" type="text" placeholder="Search"></b-form-input>
                    <b-button variant="outline-success" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
            </b-navbar>
        </div>
    </header>
</div>

<script src="/assets/lib/vue/vue.min.js"></script>
<!-- Add this after vue.js -->
<script src="/assets/lib/polyfill.min.js"></script>
<script src="/assets/lib/bootstrap-vue/bootstrap-vue.js"></script>
<script>
    const vm = new Vue({
        el: '#app'
    });
</script>
</body>
</html>