<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Testing</title>

    <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap-vue/bootstrap-vue.css"/>
</head>
<body>

<div>
    <h1>hello</h1>
</div>


<script src="/assets/lib/vue/vue.min.js"></script>
<!-- Add this after vue.js -->
<script src="/assets/lib/polyfill.min.js"></script>
<script src="/assets/lib/bootstrap-vue/bootstrap-vue.js"></script>
<script>

</script>
</body>
</html>