<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebSocket Testing</title>

  <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap-vue/bootstrap-vue.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/lib/open-iconic/css/open-iconic-bootstrap.min.css"/>
  <style type="text/css">
    .page-footer {
      background-color: #f8f8f8;
      padding: 30px 0;
    }
    .message-list {
      overflow-y: auto;
      height: 350px;
      border: 1px solid rgba(20,20,20,.1);
      border-radius: 3px;
      padding: 5px;
    }
  </style>
</head>
<body>

<div id="app">
  <header>
    <b-navbar toggleable type="light" variant="light">
      <div class="container">
        <b-nav-toggle target="nav_text_collapse"></b-nav-toggle>
        <b-navbar-brand>WebSocket Testing</b-navbar-brand>
        <b-collapse is-nav id="nav_text_collapse">
          <b-nav is-nav-bar>
            <b-nav-text>a online WebSocket Testing tool</b-nav-text>
          </b-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </header>

  <b-container>
    <b-row style="padding: 15px 0;">
      <b-col lg="6">

        <b-alert :variant="alertType"
                 :show="showAlert"
                 @dismissed="showAlert=false; alertMsg=null"
                 dismissible>
          {{ alertMsg }}
        </b-alert>

        <b-input-group>
          <!-- Add-ons -->
          <b-input-group-addon>
            Address
          </b-input-group-addon>

          <!-- Main form input -->
          <b-form-input v-model="wsUrl"
                        placeholder="Enter webSocket url. e.g ws://127.0.0.1:9501"
          ></b-form-input>

          <!-- Attach Right button Group via slot -->
          <b-input-group-button slot="right">
            <b-btn variant="success" @click="connect" :disabled="disabled.connect"><span class="oi oi-link-intact"></span> 连接</b-btn>
            <b-btn variant="outline-warning" @click="disconnect" :disabled="disabled.disconnect"><span class="oi oi-link-broken"></span> 断开</b-btn>
          </b-input-group-button>

        </b-input-group>
        <b-form-text>Notice: 连接格式为 <code>ws://IP:PORT</code>（示例 <code>ws://127.0.0.1:9501</code>）测试只需要输入内网地址</b-form-text>

        <b-card
                header-tag="header"
                footer-tag="footer"
                style="margin: 15px 0;"
        >
          <h6 slot="header" class="mb-0"><span class="oi oi-grid-three-up"></span> 消息窗口</h6>
          <div slot="footer">

            <div class="message-tool">
              <b-button size="sm" variant="" :disabled="disabled.clear" @click="clear" title="清空消息"><span class="oi oi-trash"></span></b-button>
            </div>

            <b-form-textarea id="message"
                             @keyup.ctrl.enter="send"
                             v-model="message"
                             placeholder="Enter something"
                             :rows="3"
                             :max-rows="6"
                             style="margin: 10px 0;"
            >
            </b-form-textarea>

            <div style="float: right;">
              <b-button variant="success" @click="send" :disabled="disabled.send">
                <span class="oi oi-location"></span>
                发送(Ctrl+Enter)
              </b-button>
            </div>
          </div>

          <div class="message-list">
            message list ... ...
          </div>
          <!--<p class="card-text">Header and footers using slots.</p>-->
          <!--<b-button href="#" variant="primary">Go somewhere</b-button>-->

        </b-card>
      </b-col>
      <b-col lg="6">
        运行日志：

      </b-col>
    </b-row>
  </b-container>

  <footer class="page-footer">
    <div class="container">
      <div>
        <b-nav>
          <b-nav-item href="http://yzone.net" target="_blank">Yzone.net</b-nav-item>
          <b-nav-item>Link</b-nav-item>
          <b-nav-item>Another Link</b-nav-item>
          <b-nav-item disabled>Disabled</b-nav-item>
        </b-nav>
      </div>

    </div>
  </footer>
</div>

<script src="/assets/lib/vue/vue.min.js"></script>
<!-- Add this after vue.js -->
<script src="/assets/lib/polyfill.min.js"></script>
<script src="/assets/lib/bootstrap-vue/bootstrap-vue.js"></script>
<script>
  const application = {
    ws: null,
    url: null,
    error: null,
    isConnected: false,
    events: {
      open: null,
      msg: function (data) {
        console.log('Received data: ',data)
      },
      close: null,
      error: function (err) {
        console.error('Error occurs: ' + err)
      },
      notFound: function (data) {
        console.log('notFound', data)
      },
      dataError: function (data) {
        console.log('dataError', data)
      },
    },

    // message handlers
    defaultRoute: null,
    noFoundRoute: null,
    routes: {},
    //
    create(host, port, protocol = 'ws') {
      const url = protocol + '://' + host + (port ? ':' + port : '')

      return this.createByUrl(url)
    },
    // e.g `ws://domain.com/chat`
    createByUrl(url) {
      const self = this

      this.url = url
      this.isConnected = false

      try {
        const ws = new WebSocket(url)

        ws.addEventListener('open', function (evt) {
          console.info("OPEN: 连接服务器成功", evt)

          self.isConnected = true
          self.fireEvent('open')
        })
        ws.addEventListener('close', function (evt) {
          console.log("CLOSE", evt);
          self.isConnected = false
          self.fireEvent('close')

        })
        ws.addEventListener('error', function (evt) {
          console.error('ERROR: ' + evt.data)
          this.error = evt.data
          self.fireEvent('error', evt.data)

        })
        ws.addEventListener('message', this.onMessage.bind(null, this))

        this.ws = ws
      } catch (ex) {
        console.log(ex)
      }

      return this
    },
    close () {
      if (!this.isConnected) {
        this.error = 'the ws server is not connecting'
        return
      }

      this.ws.close()
    },
    addListener (name, handler) {
      this.events[name] = handler
    },
    fireEvent (name, ...args) {
      if (this.events[name]) {
        let cb = this.events[name]
        cb(...args)
      }
    },
    onMessage: function (self, evt) {
      let rawData = evt.data
      let data = evt.data

      self.fireEvent('message', data)

      try {
        data = JSON.parse(evt.data)
      } catch (err) {
        self.fireEvent('dataError', rawData)
      }

      try {
        let cmd = data.cmd || self.defaultRoute

        if (cmd) {
          if (self.routes[cmd]) {
            let handler = self.routes[cmd]
            handler(data, self)
          } else {
            self.fireEvent('notFound', cmd)
          }
        } else {
          self.fireEvent('dataError', rawData)
        }
      } catch (err) {
        console.log(err)
        this.error = err.message
        self.fireEvent('error', err.message)
      }
    },
    sendJson(text) {
      let data = {
        '_cmd': '/chat',
        text: text,
        id: 'clientID',
        date: Date.now()
      }

      this.ws.send(JSON.stringify(data))
    },
    send: function (data, cmd) {
      this.emit(data, cmd)
    },
    emit: function (data, cmd) {
      if (!this.isConnect) {
        this.error = 'connect is lost'
        self.fireEvent('error', this.error)
        return
      }

      if (cmd) {
//        this.ws.send('[@' + cmd + ']' + data)
        data['_cmd'] = cmd
      }

      this.ws.send(data)
    },
    addRoute: function (route, cb) {
      this.routes[route] = cb
    },
    addRoutes: function (routes) {
      const app = this

      Object.keys(routes).forEach(function (route) {
        app.routes[route] = routes[route]
      })
    }
  }

  let wsRoutes = {
    '/': function (data, app) {
      console.log(data, app)
    },
    '/index': function (data, app) {
      console.log(data, app)
    },
    '/chat': function (data, app) {
      console.log(data, app)


    }
  }

  const vm = new Vue({
    el: '#app',
    data: function () {
      return {
        connections: {
          main: null
        },
        disabled: {
          connect: false,
          disconnect: true,
          send: true,
          clear: true
        },
        alertMsg: null,
        alertType: 'info',
        showAlert: false,
        message: '',
        wsUrl: 'ws://127.0.0.1:9501',
        messages: []
      }
    },
    methods: {
      connect() {
        if (!this.wsUrl) {
          this.showMsg('Please input a ws server address')
          return
        }

        let app = application.createByUrl(this.wsUrl)

        if (app.error) {
          this.showMsg(app.error, 'danger')
          return
        }

        // register routes
        app.addRoutes(wsRoutes)

        this.connections.main = app

        // do something
        this.showMsg('Success connect to the server ' + this.wsUrl, 'success')
        this.disabled = {
          connect: true,
          disconnect: false,
          send: false,
          clear: false
        }
      },
      disconnect () {
        if (!this.connections.main) {
          this.showMsg('The connection has lost.', 'danger')
          return
        }

        this.connections.main.close()

        // do something
        this.showMsg('Connection has been closed.')
        this.disabled = {
          connect: false,
          disconnect: true,
          send: true,
          clear: true
        }
      },
      send() {
        if (!this.connections.main) {
          this.showMsg('Please connect to ws server before send message.', 'danger')
          return
        }

        console.log('send msg:' + this.message)
        this.connections.main.sendJson(this.message)
        this.message = null
      },
      clear () {
        this.messages = []
      },
      /**
       *
       * @param msg
       * @param type allow info, success, warning or danger
       */
      showMsg (msg, type = 'info') {
        if (msg) {
          this.alertMsg = msg
          this.alertType = type
          this.showAlert = true
        } else {
          this.alertMsg = null
          this.showAlert = false
        }
      }
    }
  })

</script>
</body>
</html>