<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WebSocket Testing</title>

  <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/lib/bootstrap-vue/bootstrap-vue.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/lib/open-iconic/css/open-iconic-bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/src/ws/websocket.css"/>
</head>
<body>

<div id="app">
  <!--<header>-->
  <b-navbar class="bd-navbar" toggleable type="light" variant="light">
    <div class="container">
      <b-nav-toggle target="nav_text_collapse"></b-nav-toggle>
      <b-navbar-brand>WebSocket Testing</b-navbar-brand>
      <b-collapse is-nav id="nav_text_collapse">
        <b-nav is-nav-bar>
          <b-nav-text>a online WebSocket Testing tool</b-nav-text>
        </b-nav>
      </b-collapse>
    </div>
  </b-navbar>
  <!--</header>-->

  <b-container fluid>
    <b-row class="flex-xl-nowrap">
      <b-col cols="12" md="3" xl="2" class="bd-sidebar">
        <b-list-group>
          <b-list-group-item active>
            WebSocket Testing
          </b-list-group-item>
          <b-list-group-item href="#">
            Chat Room
          </b-list-group-item>
          <b-list-group-item>
            This is a text only item
          </b-list-group-item>
        </b-list-group>
      </b-col>
      <div class="d-none d-xl-block col-xl-1 bd-toc"></div>
      <b-col cols="12" md="9" xl="9" class="py-md-3 pl-md-5 bd-content">

        <b-alert :variant="alertType"
                 :show="showAlert"
                 @dismissed="showAlert=false; alertMsg=null"
                 style="margin-top: 15px;"
                 dismissible>
          {{ alertMsg }}
        </b-alert>

        <b-container>
          <b-row>
            <b-col xl="7">
              <b-input-group>
                <!-- Add-ons -->
                <b-input-group-addon>
                  Address
                </b-input-group-addon>

                <!-- Main form input -->
                <b-form-input v-model="wsUrl"
                              placeholder="Enter webSocket url. e.g ws://127.0.0.1:9501"
                ></b-form-input>

                <!-- Attach Right button Group via slot -->
                <b-input-group-button slot="right">
                  <b-btn variant="success" @click="connect" :disabled="disabled.connect"><span
                    class="oi oi-link-intact"></span> 连接
                  </b-btn>
                  <b-btn variant="outline-info" @click="disconnect" :disabled="disabled.disconnect"><span
                    class="oi oi-link-broken"></span> 断开
                  </b-btn>
                </b-input-group-button>

              </b-input-group>
              <b-form-text>Notice: 连接格式为 <code>ws://IP:PORT</code>（示例 <code>ws://127.0.0.1:9501</code>）测试只需要输入内网地址
              </b-form-text>

              <b-card
                header-tag="header"
                footer-tag="footer"
                class="message-wrapper"
              >
                <h6 slot="header" class="mb-0"><span class="oi oi-grid-three-up"></span> 消息窗口</h6>

                <div class="message-list">
                  <div class="message-item" v-for="item in messages">
                    <div>
                      <span class="message-role">{{ item.role }}:</span>
                      <span class="message-time">({{ item.time }})</span>
                    </div>
                    <p class="message-body">
                      {{ item.data }}
                    </p>
                  </div>

                  <div v-show="!messages.length" style="padding-top: 120px; font-size: 30px; color: #ccc; text-align: center;">
                    No message to display!
                  </div>
                </div>
                <!--<p class="card-text">Header and footers using slots.</p>-->
                <!--<b-button href="#" variant="primary">Go somewhere</b-button>-->

                <div slot="footer">

                  <div class="message-tool">
                    <b-button size="sm" variant="light" :disabled="!messages.length" @click="clear" title="清空消息"><span
                      class="oi oi-trash"></span></b-button>
                  </div>

                  <b-form-textarea id="message"
                                   @keyup.ctrl.enter="send"
                                   v-model="message"
                                   placeholder="Enter something"
                                   :rows="3"
                                   :max-rows="6"
                  >
                  </b-form-textarea>

                  <div style="float: right;">
                    <b-button variant="success" @click="send" :disabled="disabled.send">
                      <span class="oi oi-location"></span>
                      发送(Ctrl+Enter)
                    </b-button>
                  </div>
                </div>

              </b-card>

            </b-col>

            <b-col xl="5">
              <b-card
                header-tag="header"
                footer-tag="footer"
                style="margin: 15px 0;"
              >
                <h6 slot="header" class="mb-0"><span class="oi oi-grid-three-up"></span> 运行日志</h6>

                <div class="log-list">
                  <div v-for="log in logs">
                    <span class="text-secondary">({{ log.time }})</span> <code>{{ log.msg }}</code>
                  </div>
                </div>


                <div slot="footer">
                  <b-button size="sm" variant="light" :disabled="!logs.length" @click="clearLog" title="清空日志"><span
                    class="oi oi-trash"></span></b-button>
                </div>
              </b-card>
            </b-col>
          </b-row>
        </b-container>

        <footer class="page-footer">
          <div class="container">
            <div>
              <b-nav>
                <b-nav-item href="http://yzone.net" target="_blank">Yzone.net</b-nav-item>
                <b-nav-item href="https://github.com/inhere" target="_blank">Github</b-nav-item>
                <b-nav-item>Link</b-nav-item>
                <b-nav-item disabled>Disabled</b-nav-item>
              </b-nav>
            </div>

          </div>
        </footer>

      </b-col>
    </b-row>
  </b-container>
</div>

<script src="/assets/lib/vue/vue.min.js"></script>

<!-- Add this after vue.js -->
<script src="/assets/lib/polyfill.min.js"></script>
<script src="/assets/lib/bootstrap-vue/bootstrap-vue.js"></script>

<script src="/assets/src/ws/websocket.js" type="application/javascript"></script>

</body>
</html>